//FOOTER
footer.main__footer {
	// background: $hot_pink;
	background: url('../../assets/bg-space.jpg');
	background-size: cover;
	color: white;
		h3 {
			margin-bottom: 0;
		}
		a.email {
			font-size: 60px;
			margin: 0 0 60px 0;
			color: white;
			display: block;
			float: none;
				@media only screen and (max-width: 800px) {
					font-size: 28px;
				}
		}
}
div.footer__info {
	position: fixed;
	width: 100%;
	bottom: 0;
	background: $white;
		p.copyright {
			font-size: 12px;
			line-height: 1.4em;
			text-align: left;
			margin: 0;
			float: left;
				@media only screen and (max-width: 800px) {
					float: none;
				}
		}
		nav.footer__nav ul {
			float: right;
			margin: 0;
					@media only screen and (max-width: 800px) {
						float: none;
						margin: 20px 0;
					}
				a {
					color: $grey;
				}
				li {
					font-size: 17px;
					display: inline-block;
					margin: 0 30px 0 0;
						@media only screen and (max-width: 800px) {
							margin: 0 15px 0 0;
						}
				}
		}
}