//GENERAL
body {
	color: #393939;
}
div.wrapper {
	max-width: 1320px;
	padding: 25px 25px;
	margin: 0 auto;
}
header.main__header {
	padding: 0 20px;
}
section.intro, section.skills {
	padding: 150px 20px;
		@media only screen and (max-width: 800px) {
			padding: 75px 20px;
		}
}
section.intro {
	@media only screen and (max-width: 800px) {
		padding: 50px 20px;
	}
}
section.work {
	padding: 50px 20px;
		@media only screen and (max-width: 800px) {
			padding: 25px 20px;
		}
}
footer.main__footer {
	padding: 150px 20px 150px 20px;
		@media only screen and (max-width: 800px) {
			padding: 25px 20px 150px 20px;
		}
}
section.skills, section.work {
	margin: 50px 0;
}
//HEADINGS
h1 {
	font-size: 50px;
	color: $grey;
	line-height: 0.9em;
	margin: 0 0 10px 0;
	color: $orchid;
		@media only screen and (max-width: 600px) {
			font-size: 50px;
		}
}
h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	font-family: $secondary_font;
}
h2 {
	font-size: 20px;
	color: $grey;
	margin: 0;
	letter-spacing: 0.5px;
}
h3 {
	font-size: 19px;
	margin: 80px 0 30px 0;
	letter-spacing: 1px;
		@media only screen and (max-width: 800px) {
			font-size: 17px;
		}
}
h4 {
	font-size: 17px;
}
h4.description {
	font-family: $secondary_font;
	font-size: 24px;
	margin: 70px 0 30px 0;
}
h5 {
	font-size: 15px;
	margin: 5px 0;
		i {
			color: #E3F281;
		}
}
//PARAGRAPHS
p, li {
	font-size: 14px;
	line-height: 1.6em;
}
//LISTS
p, li {
	font-family: $primary_font; 
}
//LINKS 
a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: $secondary_font;
}
div.work__item a, a.download, div.work__item button.live__preview {
	margin: 40px 0;
	font-family: $secondary_font;
}
div.work__item button.live__preview {
	cursor: auto;
}
//LISTS
ul {
	list-style-type: none;
	padding: 0;
}
//BUTTONS
button, button.live__preview {
	background: $grey;
	font-size: 14px;
	border: none;
	color: $white;
	text-transform: uppercase;
	font-family: $secondary_font;
	padding: 10px;
	width: 175px;
	display: block;
}
//FONT AWESOME ICONS
i {
	margin: 0 6px 0 0 ;
}