//HEADER
header.main__header {
	div.logo {
		float: left;
		width: 60px;
			@media only screen and (max-width: 800px) {
				float: none;
			}
			&:hover {
				transform: rotate(15deg);
				transition: transform ease-in-out 0.5s;
			}
		}
	nav.main__nav {
		ul {
			padding: 0;
			margin: 33px 0 0 0;
			float: right;
				@media only screen and (max-width: 800px) {
					margin: 0;
					float: none;
				}
				a {
					color: #393939;
				}
				li {
					font-size: 17px;
					display: inline-block;
					margin: 0 30px 0 0;
				}
		}
	}
	section.intro {
		h1 {
			line-height: 0.9em;
			color: $orchid;
				@media only screen and (max-width: 600px) {
					font-size: 50px;
				}
		}
		h1, h2 {
			margin: 0;
		}
		div.download__resume {
			margin: 0 auto;
		}
	}
}