//HEADER
header.main__header {
	position: relative;
	nav.main__nav {
		div.logo {
			float: left;
			width: 150px;
				@media only screen and (max-width: 800px) {
					float: none;
					margin: 0 auto;
					text-align: center;
				}
		}
		ul {
			padding: 0;
			margin: 33px 0 0 0;
			float: right;
				@media only screen and (max-width: 800px) {
					float: none;
					margin: 0 auto;
					text-align: center;
				}
				a {
					color: $grey;
				}
				li {
					font-size: 16px;
					display: inline-block;
					margin: 0 30px 0 0;
					font-family: $secondary_font;
					text-transform: uppercase;
					text-align: left;
						@media only screen and (max-width: 800px) {
							text-align: center;
							margin: 0 15px 0 0;
							font-size: 22px;
						}
				}
		}
	}
	section.intro {
		p {
			margin: 30px 0;
		}
		div.download__resume {
			margin: 0 auto;
		}
	}
}
.circle {
	animation: orbit 6s infinite;
	position: absolute;
}
.gradient-path {
	position: relative;
	fill: none; /* No fill so we're just enjoying the stroke */
	stroke-width: 2; /* Make the stroke a bit wider so we can see it better */
	stroke-linecap: round; /* Make the stroke edges nice & round */
	stroke-linejoin: round; /* Smooth out corners */
	--total-offset: 0; /* CSS var that will be populated by the JS for the CSS animation */
	animation: stroke-anim 6s linear infinite;
}
@keyframes orbit {
	from { transform: rotate(0deg) translateX(0px) rotate(0deg); }
    to   { transform: rotate(10deg) translateX(50px) rotate(-50deg); }
}
@keyframes stroke-anim {
	to {
		stroke-dashoffset: var(--total-offset);
	}
}
