//SKILLS SECTION
section.skills {
	background: $grey;
	color: $white;
	h3:nth-child(1) {
		margin-top: 0;
	}
	li {
		font-size: 24px;
		display: inline-block;
		margin: 5px 15px 5px 0;
			@media only screen and (max-width: 800px) {
				font-size: 20px;
			}
	}
}