//COLOURS
$grey: #505050;
$white: #ffffff;
$green: #6ae9d0;
$purple: #B795D8;
$orchid: #D896D9;
$pink: #EBB5C1;
//FONT FAMILY
$primary_font: 'Vollkorn', Arial, sans-serif;
$secondary_font: 'Unica One', serif;
//FONT SIZES
$heading_size: 60px;