//COLOURS
$grey: #363E57;
$white: #ffffff;
$coral: #D77265;
$pink: #C03D7A;
//FONT FAMILY
$primary_font: 'Vollkorn', Arial, sans-serif;
$secondary_font: 'Unica One', serif;
//FONT SIZES
$heading_size: 60px;
