//COLOURS
$black: #393939;
$white: #ffffff;
$hot_pink: #ff1d5d;
//FONT FAMILY
$primary_font: 'Work Sans', Arial, sans-serif;
//FONT SIZES
$heading_size: 60px;
//FONT WEIGHT
$light: 300;
$bold: 600;
$very_bold: 900;