//WORK SECTION
section.work {
	h3 {
		margin-top: 0;
	}
	div.work__item {
		width: 48%;
		float: left;
		margin: 50px 1%;
			@media only screen and (max-width: 800px) {
				width: 100%;
			}
			div.work__item--img {
				background: #eee;
				width: 100%;
				height: 270px;
					p {
						margin: 0;
						padding: 120px 0 0 0;
					}
			}
	}
	h4.description {
		margin: 50px 0 0 0;
	}
}