//WORK SECTION
section.work {
	h3 {
		margin-top: 0;
		margin-bottom: 0;
	}
	div.work__item {
		width: 48%;
		float: left;
			@media only screen and (max-width: 800px) {
				width: 100%;
			}
		div.work__item--img img {
				width: 100%;
		}
		button.live__preview {
			font-family: $secondary_font;
		}
	}
}