article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #393939; }

div.wrapper {
  max-width: 1320px;
  padding: 25px 25px;
  margin: 0 auto; }

header.main__header {
  padding: 0 20px; }

section.intro, section.skills {
  padding: 150px 20px; }
  @media only screen and (max-width: 800px) {
    section.intro, section.skills {
      padding: 75px 20px; } }

@media only screen and (max-width: 800px) {
  section.intro {
    padding: 50px 20px; } }

section.work {
  padding: 50px 20px; }
  @media only screen and (max-width: 800px) {
    section.work {
      padding: 25px 20px; } }

footer.main__footer {
  padding: 150px 20px 150px 20px; }
  @media only screen and (max-width: 800px) {
    footer.main__footer {
      padding: 25px 20px 150px 20px; } }

section.skills, section.work {
  margin: 50px 0; }

h1 {
  font-size: 50px;
  color: #363E57;
  line-height: 0.9em;
  margin: 0 0 10px 0;
  color: #C03D7A; }
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 50px; } }

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-family: "Unica One", serif; }

h2 {
  font-size: 20px;
  color: #363E57;
  margin: 0;
  letter-spacing: 0.5px; }

h3 {
  font-size: 19px;
  margin: 80px 0 30px 0;
  letter-spacing: 1px; }
  @media only screen and (max-width: 800px) {
    h3 {
      font-size: 17px; } }

h4 {
  font-size: 17px; }

h4.description {
  font-family: "Unica One", serif;
  font-size: 24px;
  margin: 70px 0 30px 0; }

h5 {
  font-size: 15px;
  margin: 5px 0; }
  h5 i {
    color: #D77265; }

p, li {
  font-size: 14px;
  line-height: 1.6em; }

p, li {
  font-family: "Vollkorn", Arial, sans-serif; }

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Unica One", serif; }

div.work__item a, a.download, div.work__item button.live__preview {
  margin: 40px 0;
  font-family: "Unica One", serif; }

div.work__item button.live__preview {
  cursor: auto; }

ul {
  list-style-type: none;
  padding: 0; }

button, button.live__preview {
  background: #363E57;
  font-size: 14px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Unica One", serif;
  padding: 10px;
  width: 175px; }

i {
  margin: 0 6px 0 0; }

header.main__header div.logo {
  float: left;
  width: 150px; }
  @media only screen and (max-width: 800px) {
    header.main__header div.logo {
      float: none; } }

@media only screen and (max-width: 800px) {
  header.main__header nav.main__nav {
    display: none; } }

header.main__header nav.main__nav ul {
  padding: 0;
  margin: 33px 0 0 0;
  float: right; }
  header.main__header nav.main__nav ul a {
    color: #393939; }
  header.main__header nav.main__nav ul li {
    font-size: 16px;
    display: inline-block;
    margin: 0 30px 0 0;
    font-family: "Unica One", serif;
    text-transform: uppercase;
    color: #363E57; }

header.main__header section.intro p {
  margin: 30px 0; }

header.main__header section.intro div.download__resume {
  margin: 0 auto; }

.circle {
  animation: orbit 6s infinite;
  position: absolute; }

.gradient-path {
  position: relative;
  fill: none;
  /* No fill so we're just enjoying the stroke */
  stroke-width: 2;
  /* Make the stroke a bit wider so we can see it better */
  stroke-linecap: round;
  /* Make the stroke edges nice & round */
  stroke-linejoin: round;
  /* Smooth out corners */
  --total-offset: 0;
  /* CSS var that will be populated by the JS for the CSS animation */
  animation: stroke-anim 6s linear infinite; }

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(0px) rotate(0deg); }
  to {
    transform: rotate(10deg) translateX(50px) rotate(-50deg); } }

@keyframes stroke-anim {
  to {
    stroke-dashoffset: var(--total-offset); } }

section.skills {
  background: #363E57;
  color: #ffffff; }
  section.skills h3:nth-child(1) {
    margin-top: 0; }
  section.skills li {
    font-size: 24px;
    display: inline-block;
    margin: 5px 15px 5px 0; }
    @media only screen and (max-width: 800px) {
      section.skills li {
        font-size: 20px; } }

section.work h3 {
  margin-top: 0;
  margin-bottom: 0; }

section.work div.work__item {
  width: 48%;
  float: left; }
  @media only screen and (max-width: 800px) {
    section.work div.work__item {
      width: 100%; } }
  section.work div.work__item div.work__item--img img {
    width: 100%; }
  section.work div.work__item button.live__preview {
    font-family: "Unica One", serif; }

footer.main__footer {
  background: url("../../assets/bg-space.jpg");
  background-size: cover;
  color: white; }
  footer.main__footer h3 {
    margin-bottom: 0; }
  footer.main__footer a.email {
    font-size: 60px;
    margin: 0 0 60px 0;
    color: white;
    display: block;
    float: none; }
    @media only screen and (max-width: 800px) {
      footer.main__footer a.email {
        font-size: 28px; } }

div.footer__info {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #ffffff; }
  div.footer__info p.copyright {
    font-size: 12px;
    line-height: 1.4em;
    text-align: left;
    margin: 0;
    float: left; }
    @media only screen and (max-width: 800px) {
      div.footer__info p.copyright {
        float: none; } }
  div.footer__info nav.footer__nav ul {
    float: right;
    margin: 0; }
    @media only screen and (max-width: 800px) {
      div.footer__info nav.footer__nav ul {
        float: none;
        margin: 20px 0; } }
    div.footer__info nav.footer__nav ul a {
      color: #363E57; }
    div.footer__info nav.footer__nav ul li {
      font-size: 17px;
      display: inline-block;
      margin: 0 30px 0 0; }
      @media only screen and (max-width: 800px) {
        div.footer__info nav.footer__nav ul li {
          margin: 0 15px 0 0; } }
